<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2 bg-light">
      <h1>
        {{!-- <span role="img" aria-label="money">💸</span> --}}
        <a href="/">The Tech Blog</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->   
        {{#if logged_in}}
        <a href="/new">New Blog Post</a> |
        <a href="/profile">dashboard</a> |
        {{!-- <button class="no-button" id="home">home</button> --}}
        <a href="/">home</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        {{!-- <button class="no-button" id="home">home</button> --}}
        <a href="/login">New Blog Post</a> |
        <a href="/login">dashboard</a> |
        <a href="/">home</a> |
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5 bg-info">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/blog.js"></script>
  {{!-- <script src="./js/profile.js"></script> --}}
   
</body>

</html>
